@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --CorFonte1: #E7BE76;
    --CorFonte2: #fd9540;
    --CorFundo2: #0a0b0e;
    --Fonte1: 'Italianno', cursive;
    --Fonte2: Arial, sans-serif;
}

body {
    background-image: url('Images/Fundo/FundoEscuro.png');
    background-repeat: repeat;
    background-color: var(--CorFundo2);
    font-family: var(--Fonte2);
    color: white;
}

/* ---------- TOPO ---------- */

#superior {
    padding: 60px 50px;
}

.navegacao {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.titulo {
    font-family: var(--Fonte1);
    font-size: 3em;
}

.navegacao ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.navegacao a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navegacao a:hover {
    color: var(--CorFonte2);
}

/* ---------- CONTATO ---------- */

.caixadeproblemas {
    width: 500px;
    background-color: rgba(50, 50, 50, 0.85);
    border-radius: 30px;
    padding: 30px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caixadeproblemas input {
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* BOTÃO */
.caixadeproblemas button {
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 80px;
    border: none;
    background-color: var(--CorFonte2);
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
 }
.caixadeproblemas button:hover {
    transform: scale(1.07);
    background-color: #fd95406b;
}
/* EMPURRA O RODAPÉ PRA BAIXO */
footer {
    background-color: rgba(20, 20, 20, 0.9);
    margin-top: 113px;
    padding: 40px 20px;
}
/* DIREITOS RESERVADOS */
.rodape-quase-final {
    color: gray;
    font-size: 13px;
    margin-left: 280px;
}
/* AJUSTA OS MEIOS DE CONTATO */
.rodape-final {
    color: gray;
    font-size: 13px;
    margin-left: 150px;
}

.rodape-suporte {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}