@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


/* Configurações Globais */
* {
    margin: 0;
    padding: 0;
}

:root {
    --CorFonte1: #E7BE76;
    --CorFonte2: #fd9540;
    --CorFundo1: #191919;
    --CorFundo2: #0a0b0e;
    --CorFundo3: #000000;
    --Fonte1: 'Italianno', cursive;
    --Fonte2: 'Courier New', monospace;
}

body {
    background-color: var(--CorFundo2);
    font-family: var(--Fonte2);
    color: #333;

    width: 100%; 
    margin: 0 auto;
}

/* Detalhes Gerais */

.titulo {
    font-family: 'Italianno', cursive;
    font-size: 3em;
    color: white;
    margin: 20px 0;
}

/* Parte superior do site */

#superior {
    background-image: url('Images/Fundo/PizzaNaMesaBackGround.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 78%;
    background-color: #191919;
    background-attachment: scroll;

    position: relative;
    padding: 50px;
    width: 100%;
    min-height: 1000px;
    max-height: 1200px;
    height: auto;
}

#superior .navegacao {
    display: flex;
    align-items: center;

}

#superior .navegacao .titulo {
    color: white;
    transform: translateY(-50px);
    font-size: clamp(2em, 6vh, 6em);
}

#superior .navegacao > ul {
    list-style-type: none;
    display: flex;
    gap: 40px;

    margin-left: auto;
    margin-right: 80px;
    transform: translateY(-55px);
}

#superior .navegacao > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: clamp(1.6vw, 2vw, 2.5vw);;
    font-weight: bold;
    font-variant: small-caps;
}

#superior .navegacao ul li a:hover {
    color: var(--CorFonte2);
    transition-duration: 0.5s;
    transform: scaleY(20px)
}

#superior .propaganda {
    position: relative;
    width: 50%;
    max-width: none;

    margin-top: 80px;
    padding: 20px;

    font-size: clamp(1.7vw, 1.85vw, 1.8vw);
    color: white;
}

#superior .propaganda > h2 {
    font-size: clamp(2vw, 2.35vw, 2.7vw);
}

#superior .propaganda > p {
    margin-top: 10px;
    line-height: 1.5em;
}


#superior .propaganda #botão {
    padding: 10px 50px;
    border-radius: 25px;

    font-size: clamp(1vw, 1.5vw, 2vw);
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--CorFonte2);
}

#superior .propaganda #botão:hover {
    background-color: #fe8624a5 ;
    transition-duration: 0.5s;
}

/* Parte do meio do site (hero) */

.meio {
    position: relative;
    width: 100%;
    height: 1000px;

    margin-top: 100px;
    margin-bottom: 100px;
}

.meio .meioSuperior {
    background-color: #000102;
    color: white;

    width: 100%;
    height: 45%;

    padding: 50px;
    margin-top: -100px;
}

.meio .meioSuperior > h2 {
    color: var(--CorFonte1);
    font-family: var(--Fonte2);

    width: 55%;
    font-size: clamp(1.3rem, 2vw, 2.3rem);
}

.meio .meioSuperior > p {
    margin-top: 20px;
    width: 55%;

    font-size: clamp(1rem, 1.2vw, 1.5rem);
    line-height: 1.6em;
}

.meio .meioSuperior > img {
    position: absolute;
    right: 50px;
    top: 50px;

    margin-left: 600px;

    width: 400px;
    height: auto;
}

.meio .meioSuperior > a {
    background-color: var(--CorFonte3);
    color: var(--CorFonte2);
    outline: 2px solid var(--CorFonte2);
    border-radius: 25px;

    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 20px 10px 20px;
    height: 50px;


    border: none;
    cursor: pointer;

    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.meio .meioSuperior > a:hover {
    color:#fd9540b5;
    outline: 2px solid #fd9540a7;
    transition-duration: 0.5s;
}

.meio .meioSuperior > a:visited {
    background-color: var(--CorFonte3);
    color: var(--CorFonte2);
    outline: 2px solid var(--CorFonte2);
    border-radius: 25px;

    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 20px 10px 20px;
    height: 50px;

    border: none;
    cursor: pointer;

    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

/* Parte do meio que tem menu */
.meio .Menu {
    background-color: var(--CorFundo3);

    width: 100%;
    height: 0%;
    margin: 50px;
}

.Menu > h2 {
    text-align: center;
    font-size: 60px;
    color: #fd9540;
}

.Menu > p {
    text-align: center;
    font-size: 30px;
    color: #fd9540;
}