@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


/* Configurações Globais */
* {
    margin: 0;
    padding: 0;
}

:root {
    --CorFonte1: #E7BE76;
    --CorFonte2: #fd9540;
    --CorFonte3: transparent;
    --CorFundo1: #191919;
    --CorFundo2: #0a0b0e;
    --CorFundo3: #000000;
    --Fonte1: 'Italianno', cursive;
    --Fonte2: 'Arial', sans-serif;
}

body {
    background-image: url('Images/Fundo/FundoEscuro.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: right 78%;
    background-color: #191919;
    background-attachment: scroll;
    background-color: var(--CorFundo2);
    font-family: var(--Fonte2);
    color: #ffffff;

    width: 100%; 
    margin: 0 auto;
}

/* Detalhes Gerais */

.titulo {
    font-family: 'Italianno', cursive;
    font-size: 3em;
    color: white;
    margin: 20px 0;
}

/* Parte superior do site */

#superior {
    position: relative;
    padding: 60px 50px 120px;
    width: 100%;
    height: auto;
}

#superior .navegacao {
    width: 100%;
    display: flex;
    align-items: center;
}

#superior .navegacao .titulo {
    color: white;
    font-size: clamp(2em, 6em, 8em);
}

#superior .navegacao > ul {
    list-style-type: none;
    display: flex;
    gap: 40px;

    margin-left: auto;
}

#superior .navegacao > ul > li > a {
    color: white;

    font-size: clamp(1.6vw, 2vw, 2.5vw);
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
}

#superior .navegacao ul li a:hover {
    color: var(--CorFonte2);
    transition-duration: 0.5s;
    transform: scaleY(1.05)
}


/* Parte do meio do site */
.caixadeproblemas {
    width: 50%;
    height: 40vh;
    margin-top: 500px;
    background-color: rgb(50, 50, 50);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
} 
.email{
    width: 40vh;
    height: 60px;
    margin-top: 300px;
    margin-left: 8%;
    font-size: 50px;
}
.assunto{
    width: 40vh;
    height: 60px;
    margin-top: 300px;
    margin-left: 8%;
    font-size: 50px;
}