@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


/* Configurações Globais */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --CorFonte1: #E7BE76;
    --CorFonte2: #fd9540;
    --CorFonte3: transparent;
    --CorFundo1: #ffeaba;
    --CorFundo2: #0a0b0e;
    --CorFundo3: #000000;
    --Fonte1: 'Italianno', cursive;
    --Fonte2: 'Arial', sans-serif;
}

body {
    background-color: white;
    font-family: var(--Fonte2);
    color: #ffffff;

    width: 100%; 
    margin: 0 auto;
    overflow-x: hidden;
}

/* Detalhes Gerais */

.titulo {
    font-family: 'Italianno', cursive;
    font-size: 3em;
    color: white;
    margin: 20px 0;
}

/* Parte superior do site */

#superior {
    background-image: url('Images/Fundo/FundoEscuro.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: right 78%;
    background-color: #191919;
    background-attachment: scroll;

    position: relative;
    padding: 60px 50px 120px;
    width: 100%;
    height: auto;
}

#superior .navegacao {
    width: 100%;
    display: flex;
    align-items: center;
}

#superior .navegacao .titulo {
    color: white;
    font-size: clamp(2em, 6em, 8em);
}

#superior .navegacao > ul {
    list-style-type: none;
    display: flex;
    gap: 40px;

    margin-left: auto;
}

#superior .navegacao > ul > li > a {
    color: white;

    font-size: clamp(1.6vw, 2vw, 2.5vw);
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
}

#superior .navegacao ul li a:hover {
    color: var(--CorFonte2);
    transition-duration: 0.5s;
    transform: scaleY(1.05)
}

#superior .propaganda {
    position: relative;
    width: 100%;
    max-width: 50%;

    margin-top: 12vh;
    padding: 20px;

    font-size: clamp(2vw, 2.40vw, 2.50vw);
    color: white;
}

#superior .propaganda > h2 {
    font-size: clamp(2vw, 3.25vw, 4vw);
}

#superior .propaganda > p {
    margin-top: 10px;
    line-height: 1.5em;
}


#superior .propaganda #botao {
    padding: 10px 50px;
    border-radius: 25px;
    margin-top: 30px;

    display: inline-block;

    font-size: clamp(1vw, 1.5vw, 2vw);
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;

    background-color: var(--CorFonte2);
}

#superior .propaganda #botao:hover {
    background-color: #fe8624a5 ;
    transition-duration: 0.5s;
}

#superior img {
    position: absolute;

    margin-right: 50px;
    margin-top: 10vh;

    right: 0;
    width: 30%;
    height: auto;
}

/* Parte do meio do site (hero) */

.hero {
    width: 100%;
    height: 300px;

    background-image: url('Images/Fundo/FundoBege.png');
    background-size: cover;

    display: flex;
    align-items: center;       
    justify-content: space-between;
    gap: 80px;

    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    background-color: #fdf6eb;
}

.hero .imagemhero img {
    width: 760px;
    height: auto;
}

.hero .textohero {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 600px;
    width: 500px;
}

.hero .textohero h2 {
    font-size: clamp(2vw, 3vw, 4vw);
    color: var(--CorFundo2);
}

.hero .textohero p {
    margin-top: 20px;
    line-height: 1.5em;
    font-size: clamp(1vw, 1.5vw, 2vw);
    color: var(--CorFundo2);
}

.hero .textohero span {
    display: block;
   
    font-size: clamp(4vw, 6vw, 8vw);
    color: var(--CorFonte2);
    font-weight: bold;
}

